* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    width: 75%;
    h1 {
      font-size: 3em;
      color: white;
      font-family: "Anton", sans-serif;
    }
    p {
      font-family: "Josefin Sans", sans-serif;
      margin-top: 3em;
      color: white;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 450px;
    /* margin-top: 20em; */
    // transform: scale(0.75);
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      /* margin-bottom:2em; */
    }
    input {
      height: 20px;
      margin: 0.15em 0;
      border: none;
    }
    textarea {
      height: 200px;
      margin-top: 0.15em;
      border: none;
    }
    input, textarea {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.25em;
      background-color: rgba(0,0,0,0.2);
      transition: all 300ms linear;
  }
  input:focus {
      background-color: white;
  }
    label {
      font-family: "Josefin Sans", sans-serif;
      color: white;
      font-size: 1.25em;
    }
    .button {
      margin: 1em auto 0 auto;
      display: block;
      padding: 1em;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      background-color: black;
      color: white;
      border: none;
      border-radius: 0.4em;
      cursor: pointer;
      transition: all 300ms linear;
    }
    .button:hover {
      color: red;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

// font-family: 'Anton', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
